*{
     border: solid purple 1px;
    /* margin: 2px; */
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    
    font-family: 'Open Sans', sans-serif; 
}

/* barra de navegación */
.oscuro ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    
}
.oscuro ul li {
    margin-left: auto;
    
}
.oscuro ul li a {
    text-decoration: none;
    color: #ffffff;

}

nav {
    background-color: #000F08;
    padding: 10px;
}

/* seccion header */

header {
    background-image: url('../img/bg-hero.png');
    height: 422px;
    text-align: right;
    color: #FFFFFF ;
    padding-right: 10px;
    text-shadow: 3px 3px 1px #00000080;
    
}
header h1 {
    font-size: 50px;
    font-weight: 800;
}

.subtitulo {
    font-size: 40px ;
    font-weight: 400;
}

/* seccion de ubicacion */
#ubicacion{
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ubicacion h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000F08;

}

/* seccion de proxima charla */
.sweet-brown{
    background-color: #A4452C ;
    padding: 104px 312px ;
}
.centrado {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.charla-texto{
    padding-left: 20px;
}
.charla-texto h2 {
    font-size: 45px ;
    font-weight: 700;
}
.charla-texto h3 {
    font-size: 40px;
    font-weight: 700;
}
.charla-texto h4 {
    font-size: 33px;
    font-weight: 400;
}
.charla-texto h5 {
    font-size: 20px;
    font-weight: 400;
}
.charla-texto p {
    font-size: 25px;
    font-weight: 400;
}

/* seccion de eventos  */
#eventos {
    text-align: center;
    padding: 30px 10px;

}
#eventos h2 {
    font-size: 45px;
    font-weight: 700;
}

.div_articles {
    display: flex;
    justify-content: center;

}
.evento {
    margin: 2px 10px ;
} 


/* seccion footer o pie de pagina  */

.oscuro {
    background-color: #000F08;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 2px;

}
.oscuro a i {
    color: #FFFFFF;
}















